* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-image: url(./img/background.jpg);
    position: fixed;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 100%;
}

h1 {
    font-family: "Indie Flower", serif;
    font-weight: 750;
    font-style: normal;
    letter-spacing: 0.3;
    color: #363636;
    font-size: 100px;
    margin-left: 560px;
    opacity: .9;
}

h2 {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
    color: #696969;
    font-size: 100px;
    text-align: center;
    margin-top: 70px;
    opacity: .9;
}

h3 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    color:#050505;
    font-size: 70px;
    text-align: center;
    margin-bottom: 40px;
    opacity: .9;
}

p {
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: normal;
    color:black;
    font-size: 22px;
    text-align: center;
    opacity: .9;
}

figure {
    display: inline-block;
}

#eu-cafe {
    width: 650px;
    margin-top: 150px;
    margin-left: 70px;
    border-style:ridge;
    border-color: blue;
    opacity: .6;
}

#eu-carro {
    width: 650px;
    margin-left: 470px;
    border-style:ridge;
    border-color: blue;
    opacity: .6;
}

h4 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    color:#050505;
    font-size: 70px;
    text-align: center;
    margin-bottom: 40px;
    opacity: .9;
    margin-top: 60px;
    margin-left: 900px;
}

li {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 25px;
    margin-left: 30px;
    opacity: .9;
    margin-top: 25px;
}

aside {
    display: inline-block;
    margin-left: 30px;
}

#coffee {
    display: inline-block;
    margin-right: 50px;
}

.emoji {
    word-spacing: 40px;
}

#torrado {
    opacity: .7;
    width:300px;
    margin-bottom: 80px;
} 

#torrando {
    opacity: .7;
    width:300px;
    margin-bottom: 80px;
}

footer {
    margin-left: 57px;
    margin-top: 35px;
}

#salmo {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
    color: black;
    font-size: 12px;
    opacity: .9;
    margin-left: 245px;
}

@media screen and (max-width: 1690px) {
    h1 {
        font-weight: 200;
        font-size: 60px;
        margin-left: 600px;
    }

    main {
        width: 1500px;
        margin-left: 70px;
    }

    h2 {
        font-weight: 200;
        font-size: 60px ;
        margin-top: 22px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    h3{
        font-weight: 200;
        font-size: 40px;
        margin-bottom: 13px;
    }

    p {
        font-weight: 100;
        font-size: 19px;
        text-align: center;
    }

    #eu-cafe {
        width: 500px;
        margin-top: 30px;
        margin-left: 80px;
    }

    #eu-carro {
        width: 500px;
        margin-left: 440px;
        margin-top: 30px;
    }

    aside {
        margin-left: 2px;
    }

    h4 {
        font-weight: 200;
        font-size: 60px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 735px;
        text-align: left;
    }

    li {
        font-weight: 200;
        font-size: 22px;
        margin-top: 12px;
        text-align:left;
    }

    #coffee {
        margin-bottom: 1px;
        margin-left: 120px;
    }

    .emoji {
        word-spacing: 20px;
    }

    #torrado {
        width:220px;
        margin-bottom: 1px;
    } 
    
    #torrando {
        width:220px;
        margin-bottom: 1px;
        margin-right: 18px;
    }

    footer {
        margin-left: 30px;
        margin-top: 25px;
    }

}

@media screen and (max-width: 500px) {

    h1 {
        font-weight: 150;
        font-size: 30px;
        margin-left: 100px;
    }

    main {
        width: 320px;
        margin-left: 50px;
    }
    
    h2 {
        font-weight: 150;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 8px;
        margin-left: 4px;
    }
    
    h3{
        font-weight: 80;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    p {
        font-weight: 100;
        font-size: 6px;
        text-align: center;
    }

    #eu-cafe {
        width: 190px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    #eu-carro {
        width: 190px;
        margin-left: 10px;
        margin-top: 8px;
    }

    h4 {
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 180px;
        text-align: left;
    }

    li {
        font-weight: 100;
        font-size: 8px;
        margin-top: 5px;
        text-align:left;
    }

    aside {
        margin-left: 2px;
    }


    #coffee {
        margin-bottom: 1px;
        margin-left: 1px;
    }

    .emoji {
        word-spacing: 10px;
    }
    
    #torrando {
        width: 60px;
        height: 120px;
        margin-left: 10px;
        margin-bottom: 13px;
    } 

    #torrado {
        width: 60px;
        height: 120px;
        margin-left: 5px;
        margin-bottom: 13px;
    } 

    footer {
        margin-left: 2px;
        margin-top: 5px;
    }

    #salmo {
        font-weight: 100;
        font-size: 4px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 2px;
    }

}



@media screen and (max-width: 418px) {
    h1 {
        font-weight: 100;
        font-size: 20px;
        margin-left: 80px;
    }

    main {
        width: 260px;
        margin-left: 20px;
    }

    h2 {
        font-weight: 100;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 2px;
    }

    h3{
        font-weight: 60;
        font-size: 12px;
        margin-bottom: 6px;
    }

    p {
        font-weight: 100;
        font-size: 6px;
    }

    #eu-cafe {
        width: 140px;
        margin-top: 5px;
        margin-left: 5px;
    }

    #eu-carro {
        width: 140px;
        margin-left: 20px;
        margin-top: 5px;
        display: inline-block;
    }

    h4 {
        font-weight: 70;
        font-size: 10px;
        margin-bottom: 3px;
        margin-top: 3px;
        margin-left: 120px;
    }

    li {
        font-weight: 80;
        font-size: 6px;
        margin-top: 3px;
    }

    #coffee {
        margin-top: 5px;
    }

    #torrando {
        width:120px;
        height: 200px;
        margin-left: 20px;
    } 

    #torrado {
        width:120px;
        height:200px;
        margin-left: 5px;
    } 

}
