* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.background {
    background-image: url(./img/por-do-sol.jpg);
    position: fixed;
    opacity: .7;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 100%;
}

h1 {
    font-family: "Indie Flower", serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.3;
    color: #363636;
    font-size: 100px;
    text-align: center;
    opacity: .9;
}

h2 {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
    color: #413e3e;
    font-size: 100px;
    text-align: center;
    margin-top: 70px;
    opacity: .9;
}

h3 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    color:#050505;
    font-size: 70px;
    text-align: center;
    margin-bottom: 40px;
    opacity: .9;
}

main p {
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: normal;
    color:black;
    font-size: 22px;
    text-align: center;
    opacity: .9;
    text-shadow: 2px 2px 8px rgb(174, 174, 238);
}

.fotos-main {
    display: flex;
    justify-content: space-between;
}

#eu-cafe {
    width: 650px;
    margin-top: 150px;
    margin-left: 70px;
    border-style:ridge;
    border-color: blue;
    opacity: .7;
}

#eu-carro {
    width: 650px;
    margin-top: 150px;
    margin-right: 70px;
    border-style:ridge;
    border-color: blue;
    opacity: .7;
}

h4 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    color:#050505;
    font-size: 70px;
    text-align: center;
    margin-bottom: 120px;
    opacity: .9;
    margin-top: 90px;
}

.hobbies li{
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 20px;
    margin-left: 30px;
    opacity: .9;
    margin-top: 25px;
}

.hobbies ul{
    width: 430px;
    height: 550px;
    padding-left: 60px;
}

.hobbies {
    display: flex;
    width: 97vw;
}

#coffee {
    display: flex;
    justify-content:flex-end;
    width: 100%;
}

#torrado {
    opacity: .7;
}

#torrando {
    opacity: .7;
    padding-right: 40px;
}

h5 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    color:#050505;
    font-size: 70px;
    text-align: center;
    opacity: .9;
    margin-top: 150px;
}

.cultura{
    text-align: center;
    margin-top: 50px;
}

.tipo-musica {
    display:flex;
    text-align: left;
    align-items: center;
}

.tipo-musica ol {
    opacity: .9;
    margin-left: 40px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 80px;
}

.tipo-musica li {
    font-family: "Permanent Marker", serif;
    font-weight: 200;
    font-style: normal;
    color: black;
    font-size: 18px;
    opacity: .9;
    display: flex;
    align-items: center;
}


.titulo-musica {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #696969;
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    opacity: .9;
}

ol {
    list-style: none;
}

.paragrafos {
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 100%;
}

.tipo-musica p {
    text-align:start;
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: normal;
    color:black;
    font-size: 20px;
    opacity: .9;
}

.paragrafos .titulo-enredo {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 25px;
    margin-bottom: 80px;
    text-align: left;
    text-decoration:underline;
    text-shadow: none
}

.paragrafos p {
    padding-left: 150px;
    padding-right: 50px;
    text-shadow: 2px 2px 8px rgb(174, 174, 238);
}

#eu-rio {
    width: 400px;
    opacity: .8;
    border-style:ridge;
    border-color: blue;
    text-align: none;
    margin-left: 30px;
    margin-top: 85px;
}

.pessoal {
    display:flex;
    justify-content: space-between;
}

.texto-pessoal {
    flex-direction: column;
    margin-top: 60px;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size: 15px;
    opacity: .9;
    width: 100%;
    font-weight: bolder;
    padding: 0 60px 0 60px;
    text-shadow: 2px 2px 8px rgb(174, 174, 238);
}

.titulo-pessoal {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 25px;
    margin-bottom: 80px;
    text-align: center;
    text-decoration:underline;
    justify-content:space-between;
    text-shadow: none;
}

.info {
    text-align: center;
    padding-bottom: 50px;
    font-weight: normal;
    text-shadow: none;
}

#eu-oculos {
    width: 350px;
    opacity: .8;
    margin-left: 20px;
    border-style:ridge;
    border-color: blue;
    text-align: none;
}

h6 {
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    color:#050505;
    font-size: 70px;
    text-align: center;
    opacity: .9;
    margin-top: 80px;
    margin-bottom: 80px;
}



input[type="checkbox"] {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px solid black;
    appearance: none;
    outline: none;
    cursor: default;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 24px;
  color: black;
}

#video-rio {
    margin-right: 30px;
    margin-top: 27px;
    opacity: .6;
    height: 650px;
}

footer {
    text-align: center;
    margin-top: 35px;
}

#salmo {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: italic;
    color: black;
    font-size: 12px;
    opacity: .9;
}

@media screen and (max-width: 1690px) {
    h1 {
        font-size: 60px;
    }

    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 70px;
    }

    h2 {
        font-weight: 700;
        font-size: 60px ;
        margin-top: 22px;
        margin-bottom: 10px;
        text-align: center;
    }

    h3{
        font-weight: 200;
        font-size: 40px;
        margin-bottom: 50px;
    }

    main p {
        font-size: 20px;
        padding: 0 200px 0 200px;
    }

    .hobbies ul {
        padding-left: 50px;
        width:500px;
        height: 100%;
    }

    #eu-cafe {
        width: 500px;
    }

    #eu-carro {
        width: 500px;
    }

    h4 {
        font-weight: 200;
        font-size: 60px;
    }

    .hobbies li {
        font-weight: 200;
        font-size: 20px;
        text-align:left;
    }

    #torrado {
        height:500px;
    }

    #torrando {
        height:500px;
    }

    #eu-rio {
        transform: none;
    }

    input[type="checkbox"] {
    width: 22px;
    height: 22px;
    }

    .tipo-musica ol {
        width: 280px;
    }

    .info {
        padding-bottom: 20px;
    }

    .texto-pessoal {
        margin: 0px;
        width: 100%;
    }

    .titulo-pessoal {
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .texto-pessoal p {
        padding: 0 60px 0 60px;
    }

    #eu-oculos {
        width:300px;
    }

    #rio {
        width:400px;
        display: flex;
        justify-content: right;
    }

    #video-rio {
        height: 570px;
        padding: 0px;
        margin-top: 30px;
        margin-right: 20px;
    }

    footer {
        margin-left: 30px;
        margin-top: 25px;
    }

}

@media screen and (max-width: 1570px) {

    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 50px ;
        margin-top: 19px;
        margin-bottom: 18px;
    }

    h3{
        font-size: 30px;
        margin-bottom: 40px;
    }

    main p {
        font-size: 20px;
        padding: 0 120px 0 120px;
    }

    #eu-cafe {
        width: 380px;
    }

    #eu-carro {
        width: 380px;
    }

    h4 {
        font-size: 50px;
    }

    .hobbies li {
        font-size: 15px;
    }

    #torrado {
        height: 300;
    }

    #torrando {
        height: 300;
    }

    h5 {
        font-size: 50px;
    }

    .titulo-musica {
        font-size: 48px;
    }

    #eu-rio {
        width: 350px;
    }

    .tipo-musica ol {
        width: 400px;
    }

    .tipo-musica li {
        font-size: 15px;
    }

    .paragrafos .titulo-enredo {
        font-size: 18px;
        font-weight: 200;
        margin-top: 80px;
    }

    .tipo-musica p {
        font-size: 18px;
    }

    .paragrafos p {
        padding-left: 50px;
        padding-right: 40px;
}

    h6 {
        font-size: 50px;
        margin: 150px 0;
    }

    #eu-oculos {
        width: 250px;
    }

    .texto-pessoal {
        padding: 0;
    }

    .texto-pessoal p {
        padding: 0 50px 0 50px;
        font-size: 16px;
    }

    .pessoal .titulo-pessoal{
        font-weight: 200;
        font-size: 20px;
        margin-top:0px;
        margin-bottom: 55px;
    }

    .texto-pessoal .info {
        font-weight: 600;
        font-size: 12px;
    }

    #video-rio {
        height:500px;
        margin-top: 22px;
    }

}

@media screen and (max-width: 1370px) {

    main p {
        font-size: 17px;
    }

}

@media screen and (max-width: 1240px) {
    h1 {
        font-size: 43px;
    }

    h2 {
        font-size: 45px ;
        margin-top: 16px;
        margin-bottom: 5px;
    }

    h3{
        font-size: 25px;
        margin-bottom: 28px;
    }

    main p {
        font-size: 16px;
    }

    #eu-cafe {
        width: 300px;
    }

    #eu-carro {
        width: 300px;
    }

    h4 {
        font-size: 37px;
        margin-left: 500px;
    }

    li {
        font-size: 15px;
        margin-top: 10px;
    }

    #eu-cafe {
        margin: 0;
    }

    #eu-carro {
        margin: 0;
    }

    .fotos-main {
        margin: 0 25px;
    }

    h4 {
        margin: 0;
        padding: 60px 0;
    }

    .hobbies li {
        margin-top: 15px;
    }

    #torrado {
        height:400px;
    }

    #torrando {
        height:400px;
    }

    h5 {
        font-size: 40px;
    }

    .titulo-musica {
        font-size: 40px;
        margin-top: 18px;
    }

    #eu-rio {
        width: 320px;
    }

    .tipo-musica li {
        font-size: 14px;
    }

    .paragrafos p {
        padding: 0px 20px 0 30px;
    }

    h6 {
        font-size: 40px;
        margin: 100px 0;
    }

    .pessoal {
        flex-wrap: wrap;
    }

    figure {
        flex: 50%;
    }

    #rio {
        flex: 50%;
    }

    .texto-pessoal{
        order: 3;
        flex: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    footer {
        margin-bottom: 4px;
        opacity: 0.9;
    }

    #salmo {
        text-decoration: underline dashed 1px rgba(255, 215, 0, 1);
    }

}

@media screen and (max-width: 990px) {

    .background {
        display: none;
    }

    .fundo {
    background-image: url(./img/IMG_20201010_103847_102.jpg);
    position: fixed;
    opacity: .7;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

    h1 {
        font-size: 40px;
        color: rgb(36, 34, 34)
    }

    h2 {
        margin-top: 13px;
        opacity: 1;
    }

    main p {
        font-size: 15px;
        padding: 0 70px 0 70px;     
    }

    #eu-cafe, #eu-carro {
        width: 270px;
        opacity: .7;
    }

    .hobbies ul {
        padding-left: 13px;
        width: 260px;
    }

    .hobbies li {
        font-size: 13px;
    }

    #coffee {
        padding-right: 13px;
    }

    #torrado, #torrando {
        height: 380px;
    }

    h5 {
        margin-top: 100px;
    }

    .titulo-musica {
        opacity: 1;
    }

    #eu-rio {
        width: 240px;
        margin-left: 25px;
    }

    input[type="checkbox"] {
        width: 19px;
        height: 19px;
    }

    .tipo-musica li{
        font-size: 13px;
        margin: 0;
        padding-left: 40px;
        font-weight: 400;
        font-size: 15px;
    }

    .tipo-musica {
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .tipo-musica figcaption {
        display:flex;
        flex: 50%;
        justify-content: right;
    }

    .tipo-musica ol {
        flex: 50%;
        margin: 0;
        gap: 70px;
    }

    .paragrafos {
        flex: 100%;
    }

    .paragrafos p{
        font-size: 15px;
    }

    #eu-rio {
        margin: 0;
        width: 300px;
    }

    .paragrafos .titulo-enredo {
        text-align: center;
    }

    footer {
        margin-left: 5px;
        margin-top: 25px;
    }

    #salmo{
        font-weight: 200;
        font-size: 10px;
        margin-left: 3px;
    }

}

@media screen and (max-width: 760px) {

    h1 {
        font-size: 40px;
    }

    main p {
        padding: 0 40px 0 40px;
    }

    #eu-cafe {
        width: 200px;
    }

    #eu-carro {
        width: 200px;
    }

    h4 {
        font-size: 30px;

    }

    #torrando, #torrado {
        height: 200px;
        padding-right: 10px;
    }

    #coffee {
        margin-left: 10px;
        align-items: center;
    }

    h5 {
        font-size: 30px;
    }

    .titulo-musica {
        font-size: 40px;
    }

    .tipo-musica figcaption {
        justify-content: center;
    }

    #eu-rio {
        width: 200px;
    }

    .tipo-musica li {
        font-size: 13px;
        padding-left: 10px;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
    }

    .paragrafos .titulo-enredo {
        margin-bottom: 30px;
    }

    .paragrafos p {
        font-size: 16px;
    }

    #eu-oculos {
        width: 200px;
    }

    #video-rio {
        height: 400px;
        margin: 0px;
    }

    #rio {
        justify-content: center;
        align-items: center;
    }

    #salmo{
        font-weight: 100;
        font-size: 10px;
        margin-left: 3px;
    }

}

@media screen and (max-width: 500px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 8px;
    }

    h3{
        font-size: 20px;
        margin-bottom: 10px;
    }

    main p {
        font-size: 12px;
        padding: 0 20px 0 20px;
    }

    .fotos-main {
        margin: 0 7px;
    }
    
    #eu-cafe, #eu-carro {
        width: 190px;
    }

    h4 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #coffee {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    #torrando, #torrado {
        height: 170px;
        padding: 0;
    }

    #torrando {
        margin-bottom: 22px;
    }

    .tipo-musica figcaption {
        margin-left: 10px;
        flex: 40%
    }

    #eu-rio {
        width: 180px;
    }

    #eu-oculos {
        width: 180px;
    }

    #video-rio {
        height: 350px;
    }

    .texto-pessoal p {
        padding: 0 20px 0 20px;
    }

    footer {
        margin-left: 0;
    }

    #salmo {
        font-size: 10px;
        margin-left: 0;
        padding: 0 5px 0 5px;
    }

}

@media screen and (max-width: 418px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    h3{
        font-size: 25px;
        margin-bottom: 20px;
    }

    #eu-cafe {
        width: 180px;
    }

    #eu-carro {
        width: 180px;
    }

    h4 {
        font-size: 30px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    #coffee {
        margin-top: 5px;
    }

    #torrando, #torrado {
        height: 170px;
    }

    #torrando {
        margin-bottom: 10px;
    }

    .titulo-musica {
        font-size: 36px;
    }

    #eu-oculos {
        width: 160px;
    }

    #video-rio {
        height: 300px;
    }

}

@media screen and (max-width: 394px) {

    .tipo-musica ol {
        margin-top: 50px;
        gap: 30px;
        padding-left: 50px;
    }

    .paragrafos .titulo-enredo {
        margin-top: 40px;
    }
}